body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 10px; 
}

#searchForm {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#searchSubmitBtn {
    padding: 10px 20px; 
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; 
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#searchSubmitBtn:hover {
    background-color: #0056b3;
}

#searchInput {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#searchResults {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 800px; /* Adjust max-width as needed */
}


#searchResults table {
    width: 100%;
    border-collapse: collapse;
}

#searchResults th, #searchResults td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#searchResults th {
    background-color: #f2f2f2;
}
